{% extends 'core/baseForm.html' %}

{% block title %}
    Reservation List
{% endblock title %}

{% block content %}
<div class="w-1/2 my-6 mx-auto p-6 bg-gray-100 rounded-xl">
    <h1 class="mb-6 text-3xl">Reservations Ordered by Cleaning Date and Priority</h1>
    <table border="1">
        <thead>
            <tr>
                <th>Client</th>
                <th>Cleaning Type</th>
                <th>Cleaning Date</th>
                <th>Priority</th>
                <th>Price</th>
            </tr>
        </thead>
        <tbody>
            {% for reservation in reservations %}
                <tr>
                    <td>{{ reservation.client.username }}</td>
                    <td>{{ reservation.cleaning_type }}</td>
                    <td>{{ reservation.cleaning_date }}</td>
                    <td>{{ reservation.priority }}</td>
                    <td>{{ reservation.price }}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock content %}