{% extends 'base.html' %}

{% block content %}
  <h2>Cleaning Groups</h2>
  <a href="{% url 'groups:group_create' %}" class="btn btn-primary">Create New Group</a>
  <table class="table">
    <thead>
      <tr>
        <th>Name</th>
        <th>Actions</th>
      </tr>
    </thead>
    <tbody>
      {% for group in groups %}
        <tr>
          <td>{{ group.name }}</td>
          <td>
            <a href="{% url 'groups:group_update' group.id %}" class="btn btn-info">Edit</a>
            <a href="{% url 'groups:group_delete' group.id %}" class="btn btn-danger">Delete</a>
          </td>
        </tr>
      {% endfor %}
    </tbody>
  </table>
{% endblock %}
